In [1]:
#Define the function "say_hello" so it prints "Hello!" when called.

def say_hello():
    print("Hello!")

In [4]:
# Call the function.
say_hello()

Hello!

In [5]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [6]:
# Call the function.
say_something("FU")

FU

In [7]:
Dani_says = "Hi, my name is Dani. I'm learning Python!"
say_something(Dani_says)

Hi, my name is Dani. I'm learning Python!

In [8]:
# A list of my grades.
my_grades = ['B', 'C', 'B', 'D']

In [9]:
# Import pandas.
import pandas as pd

In [10]:
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [13]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grades in my_grades:
    print("{:.0f}".format(grades))

92
85
87
98

In [14]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [16]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object